html {
  background: #282a36;
}

i {
  font-size: 35px;
  color: #282a36;
  transition: 0.5s;
}

i:hover {
  color: #bd93f9;
  transform: scale(1.2);
}

.App {
  text-align: center;
  color: #f8f8f2;
}

.App-header {
  font-family: Hack, monospace;
  background-color: #1E1F29;
  min-height: 1vh;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; */
  font-size: calc(10px + 1vmin);
  color: #f8f8f2;
  padding: 10px;
}

.links {
  background-color: #44475a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  position: -webkit-sticky;
  overflow: hidden;
  top: 0;
  padding: 20px;
  margin-bottom: 50px;
}

.Cards {
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
  font-size: calc(6px + 1vmin);
  /* flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; */
}
.Cards .col {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.Resume {
  padding: 0 100px;
  border: none;
}