.Card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
    border-radius: 3vmin;
    display: block;
    /* flex-direction: column;
    align-items: center; */
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: min-content;
    background-color: #1E1F29;
  }

/* On mouse-over, add a deeper shadow */
.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

/* Add some padding inside the card container */
.Card-container {
  padding: 2px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.Card img {
    width: calc(30vw - 50px);
    height: auto;
    border-radius: 3vmin 3vmin 0 0;
    display: block;
}
h4 {
  color: #bd93f9;
}